<div class="container-fluid">
  <div class="row">
      <div class="col-12 bg-secondary">
          <br>
          <h5>{{ currentUser.name }}</h5>
          <hr>
          <p>Books on loan:</p>
          <a class="col-6 list-group-item clearfix d-flex text-dark" style="cursor: pointer;"
            *ngFor="let book of userBooks; let i=index">
              <h5 class="list-group-item-heading">{{ book.title }}</h5>
              <p class="list-group-item-text pl-3">- {{ book.author }}</p>
              <button class="btn btn-secondary ml-auto" (click)="onReturn(book)">Return</button>
          </a>
          <br><br><br>
      </div>
  </div>
</div>