<div class="list-group-item">
  <h5 class="list-group-item-heading">{{ book.title }}</h5>
  <p class="list-group-item-text">{{ book.author }}</p>
  <p class="list-group-item-text">{{ book.description }}</p>
  <br>
  <p class="list-group-item-text">Current status: <span *ngIf="!book.onLoan">available</span>
                                                  <span *ngIf="book.onLoan">on loan</span></p>
  <p class="list-group-item-text" *ngIf="book.waitingList.length > 0">Waiting list length: {{ book.waitingList.length }}</p>
  <hr>
  <button *ngIf="enableBorrowing" class="btn btn-outline-dark" (click)="onBorrow()">Borrow</button>
  <button *ngIf="enableReturn" class="btn btn-outline-dark" (click)="onReturn()">Return</button>
  <button *ngIf="enableWaitingListAdd" class="btn btn-outline-dark" (click)="onAddWait()">Add to waiting list</button>
  <button *ngIf="enableWaitingListRemove" class="btn btn-outline-dark" (click)="onRemoveWait()">Remove from waiting list</button>
</div>

