<div class="container-fluid">
  <div class="row app-blur">
      <div class="col-sm-6">
          <br>
          <p>Libraro Bookshelf:</p>
          <form #form="ngForm">
              <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text border border-secondary bg-white" for="sortSelect">Sort by:</label>
                  </div>
                  <select 
                    class="custom-select" 
                    id="sortSelect"
                    [(ngModel)] = "sortSelect"
                    name="sortSelect">
                    <option value="title">Title</option>
                    <option value="author">Author</option>
                  </select>
              </div>
          </form>
          <br>
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)] = "filterString">
            <div class="input-group-append">
                <button type="button" class="btn btn-outline-dark" (click)="onFilter()">Filter</button>
                <button type="button" class="btn btn-outline-dark" (click)="onClear()">Clear</button>  
            </div>
          </div>
          <br>
          <a class="list-group-item clearfix d-flex text-dark" style="cursor: pointer;"
            *ngFor="let book of bookshelf; let i=index"
            (click)="onNavigate(i)"
            [ngClass]="i === selectedBook ? 'my-2' : 'my-0'">
              <h5 class="list-group-item-heading">{{ book.title }}</h5>
              <p class="list-group-item-text pl-3">- {{ book.author }}</p>
              <p class="list-group-item-text text-info ml-auto" *ngIf="!book.onLoan">available</p>
              <p class="list-group-item-text text-danger ml-auto" *ngIf="book.onLoan && !checkLoan(book)">on loan</p>
              <p class="list-group-item-text text-primary ml-auto" *ngIf="book.onLoan && checkLoan(book)">my loan</p>
            </a>
          <br><br><br>
      </div>
      <div class="col-sm-6">
        <br>
        <p>Book details:</p>
        <router-outlet></router-outlet>
        <br><br><br>
    </div>
  </div>
</div>