.app-background {
    min-height: 100%;
    background-image: linear-gradient(rgba(23, 162, 184,0.15), rgba(23, 162, 184,0.15)),
            url("../assets/trianglify_background.png");
    background-size: cover;
}